.container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  column-gap: 5rem;
  row-gap: 1rem;
  margin-top: 1rem;
}

.vedio-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: fit-content;
}

p {
  text-align: center;
  color: rgb(240, 231, 105);
  font-size: 1rem;
  text-transform: uppercase;
  font-weight: 600;
}
